@model WILWebAppNetCore.Models.Goals
@using WILWebAppNetCore.Classes

@{
    ViewData["Title"] = "Goals";
}

    <head>
        <link rel="stylesheet" href="~/css/Style2.css" />
    </head>

<h2 align="center">Goals</h2>

@{
    if (!StaticClass.errorMessage.Equals("NO_ERROR"))
    {
        <h2 class="text-danger">@ViewBag.Message</h2>
    }
}

<br>
<br>

<h3 align="center"> Enter information for the new Goal:</h3>

<br>
<br>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Goals">

            <div class="form-group">
                <label>Goal Name:</label>
                <input type="text" name="goalName" class=" form-control" />
            </div>
            <div class="form-group">
                <label>Goal Description:</label>
                <input type="text" name="goalDescription" class=" form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Add Goal" class="btnsubmit" />
            </div>

        </form>
    </div>
</div>

<br>
<br>

@{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.GoalId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GoalName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GoalDescription)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Goals goal in ViewBag.GoalList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => goal.GoalId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => goal.GoalName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => goal.GoalDescription)
                    </td>


                </tr>
            }
        </tbody>
    </table>


}


