@model WILWebAppNetCore.Classes.UserScore
@using WILWebAppNetCore.Classes

@{
    ViewData["Title"] = "Leaderboards";
}

<h2 align="center">Game Leaderboards</h2>


<br>
<br>

<h3 align="center"> These are the Top Scorers for the Goal Pro Game:</h3>

<br>
<br>

@{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Score)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (UserScore score in ViewBag.ScoresList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => score.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => score.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => score.Score)
                    </td>



                </tr>
            }
        </tbody>
    </table>


}
