@model WILWebAppNetCore.Models.DailyQuote
@using WILWebAppNetCore.Classes

@{
    ViewData["Title"] = "Video Views";
}

    <head>
        <link rel="stylesheet" href="~/css/Style1.css" />
    </head>

<h2 align="center">Video Views</h2>


<br>
<br>

<h3 align="center"> These are the Views for the Dailyquote Videos:</h3>

<br>
<br>

@{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.QuoteDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuoteText)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.YoutubeLink)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Views)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (DailyQuote quote in ViewBag.ViewsList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => quote.QuoteDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => quote.QuoteText)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => quote.YoutubeLink)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => quote.Views)
                    </td>



                </tr>
            }
        </tbody>
    </table>


}